*.o
asm/asm
tests/asm
corewar/corewar
libmy.a
a.out
coding-style-reports.log
corewar_binaries/
.idea/
tyron.s
CMakeLists.txt
cmake-build-debug
pdd.cor
tyron.cor
pdd.s
lol.s
lol.cor
old_lib
test.sh
pdf/
corewar_epitech